@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,900&display=swap');

:root {
  --primaryColor: #272a27;
  --seconderyColor: #ec5242;
  --backGoungColor: #dbdfdbec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--primaryColor);
  background-color: var(--backGoungColor);
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: var(--primaryColor);
}

.d-flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-row-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.d-flex-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.d-flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.d-flex-column-center-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: center;
}

.d-flex-colomn-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.d-flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.d-flex-row-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.d-flex-row-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.w-h100 {
  width: 100%;
  height: 100%;
}

.w-h100vh {
  width: 100%;
  height: 100vh;
}

.w-auto-h100vh {
  width: auto;
  height: 100vh;
}

.w-auto-h100 {
  width: auto;
  height: 100%;
}

.white-text {
  color: var(--backGoungColor);
}

.orange-text {
  font-weight: 700;
  color: var(--seconderyColor);
}

.mob-flue {
  overflow: hidden;
}

.mob-flue section {
  filter: blur(5px);
}
